.w1360{
	width: 1360px;
	position: relative;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
.f1{
	float: left;
}
.fr{
	float: right;
}
.clearF:after{
	content: "";
	clear: both;
	display: block;
}
.cartTop{
	position: relative;
    height: 81px;
    border-bottom: 1px solid #666;
}
.cartTop div.f1{
	position: relative;
	left: 12px;
    top: 13px;
    margin: 0;
}
.cartTop div.f1 img{
	width: 70px;
}
.cartTop div.fr div.mbx_logoRight{
	margin-top: 30px;
}
.shopCart{
	margin: 40px auto 0;
	color: #666;
}
.shopCart div h3{
	border-left: 2px solid #97847b;
    font-size: 18px;
    color: #333;
    padding-left: 15px;
    display: inline-block;
	float: left;
}
.shopCart>div>div>div{
	 width: 198px;
    float: left;
    text-align: center;
    color: #cbcbcb;
    font-size: 12px;
} 
.shopCart>div>div>div>span{
	display: block;
    width: 100%;
    height: 100%;
    line-height: 23px;
    color: #fff;
    letter-spacing: -2px;
    margin-bottom: 10px;
    background: #cbcbcb url(../img/cart/steps_bg.png) center no-repeat;
}  
.shopCart>div>div>div>p{
	color: #cbcbcb;
}
.shopCart>div>div>div:first-child p{
	color:#8b766c; ;
}
.shopCart>div>div>div:first-child span{
	background-color: #8b766c;
}
.shopTable{
	width: 100%;
	margin: 20px 0;
    font-size: 12px;
	border-collapse:collapse;
    border: 1px solid #e0e0e0;
}
.shopTable thead{
	background: #f3f3f3;
   border: 1px solid #e0e0e0;
}
.shopTable thead tr{
    border: 0;
    font-size: 100%;
    font: inherit;
    font-style: normal;
}
.shopTable thead tr td,.shopTable tbody tr td{
	padding: 15px 0px 15px 20px;
}

.checkAll{
	margin: 0 4px 0 0!important;
    vertical-align: middle;
    position: relative;
    top: -1px;

}
.shopTable tbody tr td {
    line-height: 30px;
}
.shopTable tr td {
    padding: 15px 0;
}
.shopTable tbody{
	    background: #fcfcfc;
    border: 1px solid #e0e0e0;
}
.shopTable strong{
	margin-right: 20px;
}
.artSelect{
	padding-left: 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    outline: 0;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    background: #fff;
    vertical-align: middle;
}

.art{
	float: right;
	padding-top: 20px !important;
}
.ringbuy{
	display: inline-block;
    position: relative;
    font-size: 0;
    width: 240px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    background: #fff;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}
.ringbuy>input{
	padding: 7px 0 7px 4px;
    width: 146px;
    border: none;
    background: 0 0;
	font-size: 12px;
    vertical-align: middle;
}
.ringbuyBtn{
	height: 100%;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 6;
}
.ringbuyBtn i{
	display: inline-block;
    width: 25px;
    border-left: 1px solid #afafb0;
    font-size: 16px;
    color: #8b766c;
    text-align: center;
    cursor: pointer;
	font-style: normal;
}
.ringbuyBtn a{
	display: inline-block;
    font-size: 12px;
    color: #8b766c;
    border-left: 1px solid #afafb0;
    width: 36px;
    text-align: center;
}
.tablePrice{
	color: #ff5d5b;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}
.tableDel{
	text-align: center;
}
.tableDel a{
	color: #8b766c;
}
.tableBoo{
	padding-left: 0px !important;
	border-top: 1px dashed #E0E0E0;
}
.tableBoo span{
	color: #666;
	margin-left: 0px;
	margin-right: 110px;
}
.tableBoo+td{
	text-align: center;
	padding-left: 15px !important;
}
.security{
	font-size: 12px;
    text-align: right;
}
.security span{
	display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 25px;
    background: url(../img/cart/ico-service.png) 0 0 no-repeat;
}
.security span:nth-child(2){
	background-position: 0 -36px;
}
.security span:last-child{
	background-position: 0 -70px;
}
.shopPay{
	position: initial;
    width: 1360px;
    height: 50px;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    font-size: 12px;
    margin-top: 10px;
}
.shopPay div:first-child{
    padding-left: 20px;
}
.shopPay div:first-child p{
	display: inline-block;
    margin-right: 15px;
    line-height: 50px;
}
.shopPay div:last-child p{
	display: inline-block;
	margin-right: 15px;
	line-height: 50px;
}
.shopPay div:last-child strong{
	color: #ff5d5b;
	margin: 0 1px;
	font-size: 13px;
}
.shopPay div:last-child a{
	display: inline-block;
	width: 160px;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	background: #a98f83;
	color: #fff;
	text-align: center;
	margin-left: 30px;
	
}    
.shopPay:after{
	content: "";
	display: block;
	clear: both;
}	
.shopFix{
	position: fixed;
	bottom: 0px;
}
	    